/**Background*/

body{
    background: grey;
}
div.contenedor{
    background: white;
    width: 1000px;
    margin: 140px auto 0 auto;
    border-bottom:1px solid black;
    overflow: hidden;

}
header{
    background: orange;
 /*   width: 100vw;*/
    margin: 0 0 30px 0;
    padding: 20px 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}
nav{
    background: purple;
    height: 80px;
    margin-top: 40px;
    padding: 20px 0;
}
nav ul{
    padding: 5px;
    list-style: none;
}
nav ul li{
    float: left;
    margin-right: 20px;
}
nav ul li a{
    color: white;
}
.gran-promcion{
    display: table;
    width: 100%;
    background-color: yellow;
    height: 300px;
}
.texto-promocional{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
h2{
    margin: 0 0 40px 0;
}
img.logocss{
    width: 100px;
}
.clearfix:before,
.clearfix:after{
    content: '';
    display:table;
}
.clearfix:after{
    clear: both;
}
section#introduccion{
    display: none;
    display: block;
    background: yellow;
    padding: 80px;
    background-image: url("../img/css3.png"),url("../img/html5.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 80px, 80px;
    background-position: 400px 50px, 490px 50px;
 /*   background-position: top center, bottom center;*/
}

section#cursos{
    background: orange;
    border: 5px double black;
 /*   float: right;*/
}
main{
    width: 700px;
    float: left;
}
.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}

div.padre{
    width: 400px;
    height: 400px;
    position: relative;
    margin-bottom: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 20px;
    border-radius: 20px 40px 20px 100px;
}
div.hijo{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    bottom: -100px;
    border-radius: 50%;
}
aside{
    width: 300px;
    float: right;
}
table{
    background: cyan;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 100px;
}
tbody tr td{
    padding: 5px 0;
}
footer{
    background: orange;
    margin-top: 30px;
    padding-top: 40px;
}

footer nav{
    background: transparent;
}